* {
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, footer {
    display: flex;
    height: 100%;
    flex-direction: column;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    align-items: center;
}

header h1 {
    flex: 0 0 30%;
    padding: 20px;
}

header nav {
    display: flex;
    flex: 0 0 70%;
    flex-direction: row;
}

header menu {
    display: flex;
    list-style: none;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

header li {
    border: solid 1px black;
    padding: 20px;
}

header a {
    text-decoration: none;
}

main {
    flex: 6;
    height: 100%;
}

footer {
    flex: 1;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
}

.list section {
    display: flex;
}