/* Global styles */
menu {
  flex: 1;
  display: flex;
  flex-direction: row !important; /* overwrite Bootstrap */
  list-style: none;
}

body {
  background-color: #5daac8;
  margin-top: 70px;
  margin-bottom: 70px;
  padding: 0;
}

/* Make card styles more specific */
.card {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px !important;
}

/* Card groups */
.card-group {
  gap: 1rem;
}